
FJMH - uDA.Rmd
FJMH---uDA.html
resources/List of resoucers.md
data.zip
data/*
*.icloud
data/clean.py
data/.ipynb_checkpoints/clean-checkpoint.py
data/data.p
Header.html
~$Guion.docx
Guion.docx
.DS_Store
.DS_Store
.gitignore
